@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    color: #fff;
    background: #033047;
    line-height: 1.6;
}

section{
   scroll-margin-top: 120px;
}

/* Header e menu -------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #004861;
    padding: 20px 5vw;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 120px;
}
.logo img {
    margin-top: 20px;
    height: 143px;
    
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color .2s;
}
.menu ul li a:hover {
    color: #00e4ff;
}

.menu-mobile-btn {
  display: none;
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 10001;
  background: #004861;
  border: none;
  color: white;
  font-size: 1.3px;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

/* Sidebar - menu lateral */
.sidebar {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 280px;
  background-color: #004861;
  padding: 80px 20px 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.4);
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 10000;
  font-family: 'League Spartan', sans-serif;
}
.sidebar.show {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 50px 40px;
}
.sidebar ul li {
  margin-bottom: 28px;
}
.sidebar ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.2s;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus {
  color: #00e4ff;
}

/* Hide original menu on tablet/mobile */
@media (max-width: 1023px) {
  header{
    justify-content: center;
  }
  .menu {
    display: none;
  }
  .menu-mobile-btn {
    display: block;
  }
}

/* Responsividade para tablets */
@media (min-width: 767px) and (max-width: 1023px) {
  body {
    padding-left: 0;
  }
}

/* Responsividade para mobil */
@media (max-width: 766px) {
  body {
    padding-left: 0;
  }
}

/* Hero ----------------------------------------- */
.hero {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Mantém 16:9 automaticamente nos navegadores modernos */
    min-height: 350px;    /* Altura mínima para garantir espaçamento em telas pequenas */
    max-height: 600px;    /* Limite para não ocupar a tela inteira em desktops */
    background:
        linear-gradient(120deg, #023b69b8 70%, #0079A1 100%), 
        url('img/imagem\ principaç.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero-content h1 {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 70px;
    color: #fff;
}
.hero-content p {
    font-size: 1.3rem;
    color: #bae8ff;
    margin-bottom: 33px;
}
.cta-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn {
    padding: 11px 32px;
    border-radius: 25px;
    border: none;
    background: #0079A1;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background .2s, color .2s;
    cursor: pointer;
}
.btn:hover {
    background: #222841;
    color: #ffffff;
}

/* Seção Quem Somos ----------------------------- */
.quem-somos {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: url('img/2.jpg') no-repeat center/cover; /* use sua imagem */
}

/* "Quem somos" canto topo esquerdo */
.quem-somos-title {
    position: absolute;
    top: 36px;
    left: 90px;
    font-size: 2.4rem;
    font-weight: 800;
    color: #00384B;
    z-index: 2;
    text-shadow: none;
}

/* Texto centralizado horizontalmente e em destaque*/
.quem-somos-texto-central {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: #00384B;
    text-align: center;
    background: none;
    z-index: 2;
    max-width: 600px;
    width: 60vw;
    font-size: 1.9rem;
}


/* Responsividade para não quebrar texto */
@media (max-width: 900px) {
    .quem-somos-content {
        margin-left: 4vw;
        max-width: 88vw;
        padding: 22px 0;
    }
    .quem-somos {
        min-height: 260px;
        background-size: cover;
    }
}

.institucional {
    width: 100%;
    padding: 46px 0 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background: #00384B;
}
.institucional-row {
    width: 95vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    margin-bottom: 18px;
    /* Para afastar dos lados e alinhar com texto dos cards */
    padding-left: 2vw;
    padding-right: 2vw;
}
.institucional-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.institucional-img img {
    width: 200px;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    border: 4px solid #40a4d8;
    object-fit: cover;
    margin: 0;
    box-shadow: 0 2px 12px #00384b38;
    background: none;
}
.institucional-card.institucional-text {
    background: #f4fbff;
    border-radius: 24px;
    box-shadow: 0 2px 12px #052c4329;
    padding: 32px 36px;
    min-width: 340px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.institucional-card.institucional-text h3 {
    color: #00384B;
    font-size: 1.45rem;
    font-weight: 800;
    margin-bottom: 14px;
    text-align: center;
}
.institucional-card.institucional-text p {
    color: #00384B;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

@media (max-width: 900px) {
    .institucional-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .institucional-img img {
        width: 150px;
        max-width: 88vw;
    }
    .institucional-card.institucional-text {
        max-width: 97vw;
        padding: 22px 13px;
    }
}

/* Valores -------------------------------------- */
.valores {
    width: 100%;
    background: #00384B;
    padding: 48px 0 56px 0;
    margin: 0;
    text-align: left;
}
.valores-titulo {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 800;
    margin-left: 48px;
    margin-bottom: 0;
    letter-spacing: 0.01em;
}
.valores-underline {
    margin: 14px 48px 40px 48px;
    border-top: 4px solid #f4fbff;
    width: calc(100% - 96px);
}
.valores-cards {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.valor-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 12px #052c4324;
    width: 310px;
    min-height: 350px;
    padding: 32px 20px 26px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.valor-card img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 16px;
    object-fit: cover;
    background: #f4fbff;
}

.valor-card h3 {
    color: #06495f;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 0;
}
.valor-card p {
    color: #25384a;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    margin-top: 8px;
}
@media (max-width: 930px) {
    .valores-cards {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .valor-card {
        width: 90vw;
        min-height: unset;
    }
}



/* Serviços ------------------------------------- */
.servicos {
  background: #00A1D7;
  width: 100%;
  padding: 54px 0 54px 0;
  color: #fff;
  min-height: 380px;
  box-sizing: border-box;
}

.servicos-titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 46px;
  margin-top: 0;
  letter-spacing: 0.01em;
}

.servicos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 44px 72px;
  max-width: 900px;
  margin: 0 auto;
  justify-items: center;
}

.servico-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 280px;
  max-width: 340px;
}

.servico-icone {
  width: 44px;
  height: 44px;
  margin-bottom: 18px;
}

.servico-card h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.45rem;
  font-weight: 700;
  color: #fff;
}

.servico-card p {
  font-size: 1.3rem;
  color: #f4fbff;
  margin: 0;
  font-weight: 400;
}

@media (max-width: 900px) {
  .servicos-grid {
    grid-template-columns: 1fr;
    gap: 34px 0;
    max-width: 97vw;
  }
  .servico-card {
    max-width: 95vw;
    min-width: unset;
  }
  .servicos-titulo {
    font-size: 1.7rem;
    margin-bottom: 36px;
  }
  .servico-icone {
    width: 36px;
    height: 36px;
  }
}


/* Parceiros ------------------------------------ */
.parceiros {
  background: #00384B;
  padding: 54px 0 56px 0;
  width: 100%;
  text-align: center;
}
.parceiros-titulo {
  color: #fff;
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 36px;
}
.parceiros-carousel {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}

.parceiros-track {
  display: flex;
  gap: 20px;
  will-change: transform;
  margin: 0 20px;
}

.parceiro-card {
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 2px 10px #052c4323;
  padding: 30px 12px 0 12px;
  flex: 0 0 auto;
  min-width: 230px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.parceiro-card:hover {
  transform: scale(1.05);
}

.parceiro-card img {
  width: 130px;
  height: 65px;
  object-fit: contain;
  margin-bottom: 18px;
  border-radius: 10px;
  background: #fff;
}
.parceiro-nome {
  color: #00384B;
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
}
.parceiro-icons {
  display: flex;
  gap: 40px;
  margin-top: auto;
  margin-bottom: 20px;;
}
.parceiro-icons img {
  width: 40px;
  height: 40px;
  background: transparent;
}
.carousel-btn {
  background: #fff;
  border: none;
  border-radius: 16px;
  padding: 8px 15px;
  font-size: 1.8rem;
  cursor: pointer;
  color: #06495f;
  box-shadow: 0 2px 8px #00384b12;
  transition: background 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.carousel-btn:hover {
  background: #00e4ff;
  color: #fff;
}

.carousel-btn.prev {
  left: 20px;
}

.carousel-btn.next {
  right: 20px;
  left: auto;
}

@media (max-width: 900px) {
  .parceiros-track {
    gap: 12px;
  }

  .parceiro-card {
    min-width: 70vw;
    max-width: 70vw;
    height: 260px;
    padding: 22px 4px 0 4px;
  }

  .parceiros-carousel {
    max-width: 23vw;
  }
}

@media (max-width: 768px) {
  .parceiro-card {
    min-width: 70vw;
  }
}


/* Contato -------------------------------------- */
.contato {
  background: #00A1D7;
  width: 100%;
  padding: 54px 0 54px 0;
  color: #fff;
  min-height: 280px;
  box-sizing: border-box;
}
.contato-titulo {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 46px;
  margin-top: 0;
  letter-spacing: 0.02em;
}
.contato-cards {
  display: flex;
  gap: 52px;
  justify-content: center;
  align-items: stretch;
  margin-top: 0;
  flex-wrap: wrap;
}
.contato-card {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  max-width: 320px;
  padding: 0 18px;
}
.contato-card img {
  width: 45px;
  height: 45px;
  margin-bottom: 24px;
}
.contato-card h3 {
  margin: 0 0 12px 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.contato-card p {
  font-size: 1.2rem;
  text-align: center;
  color: #fafeff;
  margin: 0 0 16px 0;
  font-weight: 400;
}
.contato-info {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 700;
  color: #fff;
  margin-top: 2px;
}
@media (max-width: 950px) {
  .contato-cards {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .contato-card {
    min-width: 80vw;
    max-width: 95vw;
    padding: 0 8vw;
  }
  .contato-titulo {
    font-size: 1.4rem;
    margin-bottom: 24px;
  }
}


/* Footer --------------------------------------- */
.footer {
  background: #00384B;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 34px 6vw 18px 6vw;
  gap: 52px;
  font-family: 'Segoe UI', Arial, sans-serif;
}
.footer-info, .footer-contact {
  width: 46%;
}
.footer-info h3 {
  margin-bottom: 8px;
  font-size: 1.23rem;
  font-weight: 700;
  color: #fff;
}
.footer-info h4 {
  margin: 22px 0 8px 0;
  font-size: 1.18rem;
  font-weight: 700;
  color: #fff;
}
.footer-info p {
  font-size: 0.97rem;
  color: #e5faff;
  margin: 0 0 4px 0;
}

.footer-contact h3 {
  margin-bottom: 16px;
  font-size: 1.18rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-form-row {
  display: flex;
  gap: 12px;
}
.footer-form input,
.footer-form textarea {
  background: rgba(0, 228, 255, 0.15);
  border: 1.5px solid #c2e8f9;
  border-radius: 6px;
  color: #fff;
  padding: 8px 10px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  width: 100%;
  transition: border 0.3s;
}
.footer-form input:focus,
.footer-form textarea:focus {
  border-color: #00e4ff;
}
.footer-form input::placeholder, .footer-form textarea::placeholder {
  color: #fff;
  opacity: 1;
}
.footer-form button {
  margin-top: 12px;
  width: 35%;
  align-self: center;
  background: #eafaff;
  color: #06495f;
  font-size: 1.14rem;
  font-weight: 500;
  padding: 6px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background .2s;
}
.footer-form button:hover {
  background: #00e4ff;
  color: #fff;
}
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    padding: 28px 3vw 12px 3vw;
  }
  .footer-info, .footer-contact {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-form-row {
    flex-direction: column;
    gap: 10px;
  }
  .footer-form button {
    width: 100%;
  }
}


/* Responsividade ------------------------------- */
@media (max-width: 950px) {
    .valores-lista, .servicos-lista, .parceiros-lista, .contato-infos {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
    .valor, .servico, .parceiro img, .contato-infos div {
        width: 90vw;
        min-width: unset;
    }
    .footer-info, .footer-form {
        margin: 0 auto;
        text-align: center;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}

/* Detalhes extras opcionais -------------------- */
::-webkit-scrollbar {
    width: 8px;
    background: #022136;
}
::-webkit-scrollbar-thumb {
    background: #16b6e3;
    border-radius: 8px;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .hero-content h1,
  .quem-somos-texto-central {
    font-size: 2.1rem;
    margin-left: 0;
  }
  .valores-titulo,
  .servicos-titulo,
  .contato-titulo,
  .parceiros-titulo {
    font-size: 1.35rem;
  }
  .hero-content p,
  .quem-somos-title,
  .valor-card h3,
  .servico-card h3,
  .contato-card h3 {
    font-size: 1rem;
  }
}

/* Celular */
@media (max-width: 766px) {
  .hero-content h1,
  .quem-somos-texto-central {
    font-size: 1.28rem;
    margin-left: 0;
  }
  .valores-titulo,
  .servicos-titulo,
  .contato-titulo,
  .parceiros-titulo {
    font-size: 1.07rem;
  }
  .hero-content p,
  .quem-somos-title,
  .valor-card h3,
  .servico-card h3,
  .contato-card h3 {
    font-size: 0.92rem;
  }
}
